
@import url('https://fonts.googleapis.com/css2?family=Sofadi+One&display=swap');

body{
    background-color: bisque;
    font-family:"Sofadi+one" ;

    footer {
    background-color: black;
    color: white;
    bottom: 0;
    position: fixed;
     width: 100%;
    }

        footer p{
         text-align: center;
         font-size: 0,6rem;
         height: 2rem;
         margin-top: 0,5rem;
 }
#container: ; {
  display: flex;
     margin: 1rem 1rem ;
     height: 20rem;
     flex-grow: 1;
     flex-basics

}



   .cartao__conteudo h3{ /*estilo do titulo do cartao*/
    color: var(--text color):
   border: 1px solid var(--text-color)
    text-align: left; /*texto alinhado a esquerda*/
    padding: 0.5rem; /*espaço internop de 0.5 raiz*/
    position: absolute;/*posiciona o titulo em relaçao ao ''pai''*/
    margin:0.6rem; /*margem externa de 0.6 raiz*/
    border-raduis:0.6rem; /*borda arrendondada de 0.6 raiz*/
    font-size:1vw;/*tamanho letra do titulo,1% largura raiz*/
    backface-visibility:hidden;

 .cartao__conteudo p{
    margin-top: 1rem; 
    padding: 2rem;
 }

.cartao__conteudo__pergunta p{
   color: var(--text-color)
   font-weight 50;
}

.cartao__conteudo__resposta p{
    color: var(--card-back-color)
    font-weight: 700;
}

.cartao:hover .cartao__conteudo{
    transform: rotateY(100deg)
}

.cartao__conteudo__pergunta
.cartao__conteudo__resposta{
   backface-visibility: hiden;
   position: absolute;
   height: 100%;
   widht: 100%;

}

.cartao__conteudo__resposta















